//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de las fuentes
$poppins: poppins;
$montserrat: montserrat;

$red: #F38160;
$silver: #9D9A98;
$yellow: #F0B70D;
$white-button: #FAFAFA;
$black: #403C39;
$silver-medium: #949494;
$blackground-input: #F3F3F4;
$silver-dark: #909090;


