.main-principal{
    position: relative;
    .container-main{
        display: flex;
        flex-direction: column;
        .hero-title{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1{
                font-size: 60px;
                font-family: $montserrat;
                color: $black;
                width: 50%;
                span{
                    color: $red;
                    font-size: 60px;
                    font-family: $montserrat;
                }
            }
            p{
                font-size: 20px;
                color: $silver-medium;
                width: 40%;
                margin-bottom: 20px;
            }
            .input-search{
                display: flex;
                align-items: stretch;
                margin-bottom: 20px;
                input{
                    border: 0;
                    background-color: $blackground-input;
                    padding: 10px 120px 10px 10px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    outline: none;
                    &::placeholder{
                        color: $silver-medium;
                    }
                }
                img{
                    background-color: $red;
                    padding: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }.checks{
                display: flex;
                flex-direction: column;
                gap: 13px;
                margin-bottom: 66px;
                .checks-uppers{
                    display: flex;
                    gap: 25px;
                    li{
                        display: flex;
                        align-items: center;
                        color: $silver-medium;
                    }
                }
                .checks-lowers{
                    display: flex;
                    gap: 25px;
                    li{
                        display: flex;
                        align-items: center;
                        color: $silver-medium;
                    }
                }
            }
        }
        .hero-image{
            position: absolute;
            right: 0%;
            top: -15%;
            background-image: url(../../img/background-image-hero.svg);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: 40% 90px;
            .image-hero{
                width: 80%;
            }
        }
        .details{
            display: flex;
            article{
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 30px;
                img{
                    width: 30%;
                    margin-bottom: 5px;
                }
                h3{
                    font-weight: 500;
                    font-size: 18px;
                    color: $black;
                }
                p{
                    font-size: 15px;
                    color: $silver-dark;
                }
            }
        }
    }
}